body {background-color: #323232; 
	background-image: url('pics/bwrings.jpg'); 
	background-position:Top Center; 
	background-attachment:fixed; 
	background-repeat:no-repeat; 
	scrollbar-face-color:ffcc00; 
	scrollbar-highlight-color:ffff00; 
	scrollbar-3dlight-color:ff9900; 
	color: #FFFFFF;
	font-family: arial,sans-serif; 
	font-size: 1.5em 
}

a:link {color: ffcc00;
	text-decoration: none
}

a:hover {color: #ff9900;
	 text-decoration: underline
}

a:active {color: #ff9900;
	  text-decoration: none
}

a:visited {color: #ffcc99;
	   text-decoration: none
}

h3 {font-size: 3em; 
    color: #ffcc00; 
    font-weight: 700
}

.contents {align: right;
	   margin: 0;
	   font-size: 1.2em;
	   list-style-type: none
}

.vend {align: right;
       valign: top;
       font-weight: 700
}

.bparty {align: right;
         valign: top;
         font-weight: 700
}

.footer {align: center;
	 font-size: 0.7em
}

.hili {color: #ffcc00;
	font-weight: 500
}

.square {background-image: url('pics/blacksq1.png')
}

.bjq {color: #ffcc00
}


*/peach=ffcc99
yellow=ffcc00/*


